<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'layouts/navbar' %>
  <!-- Top content -->
  <div class="top-content background-image">
    <div class="inner-bg">
      <div class="container">
        <%= yield %>
      </div> <!-- end container -->
    </div>
  </div>
</body>
</html>
