<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <ul class="nav nav-tabs">
       <li><%= link_to "Locations", root_path %></li>
       <li><%= link_to "Notifications", notifications_path %></li>
     </ul>
  <%= yield %>
</div>
</body>
</html>
