<div class="form-group">
  <%= form_for(@location) do |f| %>
  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  <%= f.text_field :street_number, class: "form-control", placeholder: "Street Number" %>
  <%= f.text_field :street_name, class: "form-control", placeholder: "Street Name" %>
  <%= f.text_field :city, class: "form-control", placeholder: "City" %>
  <%= f.text_field :state, class: "form-control", placeholder: "State" %>
  <%= f.text_field :zip, class: "form-control", placeholder: "Zip" %>
  <%= f.text_field :date, class: "form-control", placeholder: "Date" %>
  <%= f.text_field :time, class: "form-control", placeholder: "Time" %>
  <%= f.text_area :info, class: "form-control", placeholder: "Info" %>
</div>
<div>
  <%= f.submit class: "btn btn-primary btn-block" %>
</div>
<% end %>
