<% @locations.each do |location| %>
  <div class="list-group-item text-left">
    <h4 class="list-group-item-heading"><%=link_to location.name, location, remote: true, data: { toggle: "modal", target: "#myModal" } %></h4>
    <p class="list-group-item-text"><%= location.street_number %> <%= location.street_name %></p>
    <p class="list-group-item-text"><%= location.city %>, <%= location.state %> <%= location.zip %></p>
    <p class="list-group-item-text"><%= location.date %></p>
    <p class="list-group-item-text">From <%= location.time %></p>
  </div>
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="form-top">
      <div class="form-top-left">
        <h4 class="modal-title" id="myModalLabel"><%= location.name %></h4>
      </div>
    </div>
    <div class="form-bottom">
      <div class="modal-body text-center">
        <h3><%= location.name %></h3>
        <h4><%= location.street_number %> <%= location.street_name %></h4>
        <h4><%= location.date %></h4>
        <h4>From <%= location.time %></h4>
        <br>
        <p><%= location.info %></p>
      </div>

      <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>
<% end %>



