<%= render 'loader' %>
<header>
  <%= render 'nav' %>
  <%= render 'slider' %>
</header>

<div class="wrapper">
  <%= render 'about' %>
  <%= render 'getapp' %>
  <%#= render 'features' %>
  <%= render 'screens' %>
  <%= render 'footer' %>
</div>
